@charset "utf-8";
/* CSS Document */
/* 两侧固定 中间自适应*/
.warpper{
   display: -webkit-flex;
   display: flex;
	background: #F8D2B1;
	min-width: 450px;
	height: 100px;
}
.left{
	width: 200px;
	background: #F5CFDD;
}
.middle{
	-webkit-flex: 1;
            flex: 1;
	background: #96E2EF;
}
.right{
	width: 200px;
	background: #A5EF9C;
}