@charset "utf-8";
/* CSS Document */
h1{
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	padding: 0.5cm;
	padding-bottom: 16cm;
	padding-top: 2cm;
	margin-right: 0.7cm;
	width: 200px;
	height: 200px;
	background-color: skyblue;
	float: left;

}
body{
	
	font-weight: bold;
}

h2{
	font-size:30px;
	
}
strong{
	font-family:黑体; 
}
p{
	padding: 0cm;
	margin: 0cm;
	white-space: 
}
#t1{
	padding-top: 40px;
}

