@charset "utf-8";
/* CSS Document */

h1{
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	width: 983px;
	height: 40px;
	padding-top: 0.4cm;
	padding-left: 0.5cm;
	border:1px solid #C4BFBF;
	background-color:#474747;
	color: aliceblue;

}
body{
	font-size: 15px;
	white-space: pre-wrap;
}

h2{
	font-size:20px;
	text-align: center;
	width: 100px;
	height: 50px;
	padding: 0cm;
	padding-top: 30px;
	margin: 0cm;
	border:1px solid #C4BFBF;
	background-color:#8A8585;
}
strong{
	font-family:黑体; 
}
p{
	width: 900px;
	height: 70px;
	padding: 0cm;
	padding-top: 10px;
	margin: 0cm;
	border:1px solid #C4BFBF;
	white-space:pre-wrap;
}
#t1{
	position: absolute;
	top: 100px;
}
#t2{
	position: absolute;
	top: 182px;
}
#t3{
	position: absolute;
	top: 264px;
}
#t4{
	position: absolute;
	top: 346px;
}
#t5{
	position: absolute;
	top: 428px;
}
#p1{
	position: absolute;
	top: 100px;
	left: 110px;
}
#p2{
	position: absolute;
	top: 182px;
	left: 110px;
}
#p3{
	position: absolute;
	top: 264px;
	left: 110px;
}
#p4{
	position: absolute;
	top: 346px;
	left: 110px;
}
#p5{
	position: absolute;
	top: 428px;
	left: 110px;
}