@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0;
}
aside{
	width: 240px;
	background: #7BC4F3;
	min-height: 100vh;
	height: auto;
	float: left;
	margin-right: 20px;
}
h1{
	display: inline-block;
	padding-left: 65px;
	vertical-align: middle;
	font-size: 50px;
	font-weight: 900;
}

body{
	
	font-weight: bold;
}

h2{
	font-size:30px;
	
}
strong{
	font-family:黑体; 
}
p{
	padding: 0cm;
	margin: 0cm; 
}
#t1{
	padding-top: 40px;
}
#el{
	position: fixed;
	bottom: 40px;
	left: 50px;
}
#myhoby{
	position: absolute;
	left: 40px;
	bottom: 90px;
}
input{
	width: 60px;
}
#ell{
	position: fixed;
	top: 40px;
	right: 50px;
}