@charset "utf-8";
/* CSS Document */

h1{
	text-align: center;
	font-size: 35px;
	color: #AB703D;
}
.main-one,.main-two{
	text-align: center;
	margin: 50px 60px;
	border: 2px solid #F9A358;
	background: #F1D7B6;
}
table{
	display: inline-block;
	align-content: center;
}